<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <p style="text-align: center;">{{username}}</p>
  </div>

  <ion-row>
    <ion-col>
      <ion-button size='small' color="primary" type="submit" expand="block" [routerLink]="['/new-reference']">Add New
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button size='small' color="danger" type="submit" (click)="SignOut()" expand="block">Logout</ion-button>
    </ion-col>
  </ion-row>



  <p style="text-align: center;"> References: </p>
  <ion-card *ngFor="let reference of reflist">
    <ion-card-header (click)='show_reference(reference.id, reference)'>
      <ion-card-title>{{reference.titulopub}}</ion-card-title>
      <ion-card-subtitle>| {{reference.autores}} |</ion-card-subtitle>
      <ion-card-subtitle *ngIf="reference.tipopub == 1">| Journal Paper |</ion-card-subtitle>
      <ion-card-subtitle *ngIf="reference.tipopub == 2">| Event Paper |</ion-card-subtitle>
      <ion-card-subtitle *ngIf="reference.tipopub == 3">| Other |</ion-card-subtitle>
      <ion-card-subtitle>| {{reference.eventorevista}} |</ion-card-subtitle>
      <ion-card-subtitle>| {{reference.doi}} |</ion-card-subtitle>
      <ion-card-subtitle>| {{reference.anyopub}} |</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-button size="small" expand="block" color="danger" (click)='delete_reference(reference.id)'>Delete</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" expand="block" (click)='edit_reference(reference.id, reference)'>Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>



</ion-content>